@font-face {
    font-family: "Inter";
    src: url(./assets/InterVariable.ttf);
}

/* GLOBAL STYLES */


html { font-size: 62.50%; }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0px solid red;
    font-family: "Inter", sans-serif;
}
ul { list-style: none; }

a {
    text-decoration: none;
    color: inherit;
}

section {
    padding: clamp(3rem, 3vw, 6rem) clamp(2.2rem, 3vw, 7rem);
    padding-bottom: 0;
}


:root {
    --accentColor: #ff8800;
    --main-white: #fcfafa;
    --black: #111010;

    --text-basis-size: clamp(0.6rem, 1.2vw + 0.8rem, 2.4rem);
    --scale-ratio: 1.20;
    --font10: calc(var(--text-basis-size) / var(--scale-ratio) / var(--scale-ratio));
    --font15: calc(var(--text-basis-size) / var(--scale-ratio));
    --font25: calc(var(--text-basis-size) * var(--scale-ratio));
    --font30: calc(var(--font25) * var(--scale-ratio));
    --font35: calc(var(--font30) * var(--scale-ratio));
    --font40: calc(var(--font35) * var(--scale-ratio));
    --font45: calc(var(--font40) * var(--scale-ratio));
    --font50: calc(var(--font45) * var(--scale-ratio));
}

h1 { font-size: var(--font50); }
h2 { font-size: var(--font40); }
h3 { font-size: var(--font30); }
h4 { font-size: var(--text-basis-size); }
h5 { font-size: var(--font15); }

h1, h2, h3, h4, h5 {
    line-height: 1;
}

.regText, p,a {
    font-size: var(--text-basis-size);
    line-height: 1.3;
    font-weight: 300;
}

.accentColor { color: var(--accentColor); }
.regWhite { color: var(--main-white); }
.regBlack { color: var(--black); }

.accentButton {
    color: var(--main-white);
    background-color: var(--accentColor);
    padding: clamp(0.4rem, 1vw, 1.6rem) clamp(0.6rem, 1.5vw, 3.4rem);
    font-size: var(--font15);
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.3s;
}
.accentButton:hover {
    background-color: #eb7d00
}

.button {
    font-weight: 400;
    background-color: transparent;
    padding: clamp(0.4rem, 1vw, 0.8rem) clamp(0.8rem, 1.6vw, 2.2rem);
    cursor: pointer;
    transition: all 0.2s;
}

.sectionTitle {
    position: relative;
    font-size: var(--font25);
    font-weight:300;
    padding-left: clamp(40px, 6vw, 60px);
}
.sectionTitle::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    display: inline-block;
    height: clamp(5px, 1vw, 8px);
    width: clamp(35px, 5vw, 53px);
    border-radius: 100px;
    background-color: var(--accentColor);
}

.section-titleDiv {
    margin: clamp(0.6rem, 1vw, 1.6rem) 0;
}
.section-title {
    font-size: var(--font35);
    font-weight: 600;
}


/* HEADER STYLES */


header {
    margin: clamp(1rem, 5vw, 2.6rem) clamp(1.8rem, 5vw, 7rem)  0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
}

#header-inner {
    display: flex;
    align-items: center;
    position: relative;
    padding: clamp(2rem, 3vw, 3.5rem) clamp(2.6rem, 3.5vw, 5rem);
    background-color: #000000c5;
    color: var(--main-white);
    border-radius: 2rem;
    overflow: hidden;
}
#header-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(10px);
}

#header-logoCont {
    flex: 1;
}
.header-logoSpan {
    font-size: var(--font30);
    font-weight: 900;
}

#header-nav {
    flex: 1;
}
#header-nav ul {
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(12rem, 40vw, 50rem);
    height: 100%;
}
.nav-button {
    font-size: var(--text-basis-size);
    font-weight: 500;
    transition: all 0.3s;
}
.nav-button:hover {opacity: 0.8;}
.nav-button.active {
    color: var(--accentColor);
}


/* Footer */


hr {
  border: none;
  border-top: 2px solid #fcfafa30;
  overflow: visible;
  height: 5px;
}

footer {
    background-color: var(--accentColor);
    color: var(--main-white);
    padding: clamp(2.4rem, 5vw, 10rem) clamp(1.8rem, 5vw, 7rem);

}
footer > hr {
    margin-bottom: 3rem;
}
.footer-contentDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80vw;
    margin: auto;
}
.footer-navDiv {
    display: flex;
    flex-direction: column;
    gap: clamp(0.8rem, 1.4vw, 2.8rem);
}
.footer-title {
    font-size: var(--font25);
    font-weight: 500
}
.footer-linksUl {
    display: flex;
    flex-direction: column;
    gap: clamp(0.8rem, 1vw, 1.8rem);
}
.footer-link, .footer-link-a {
    font-size: var(--text-basis-size);
    font-weight: 300;
}
.footer-link i {
    width: 5px;
    margin-right: clamp(1.4rem, 2.5vw, 2.8rem);
}


@media (max-width: 550px) {
    .footer-contentDiv { max-width: 100%; }
}

@media (max-width:430px) {
    footer {
        padding-top: clamp(2.4rem, 14vw, 20rem);
        padding-bottom: clamp(2.4rem, 14vw, 20rem);
    }
    footer > hr { margin: 0; }

    .footer-contentDiv {
        flex-direction: column;
        align-items: stretch;
        margin: 0;
    }
    .footer-navDiv {
        flex: 1;
        border-bottom: 2px solid #fcfafa30;
        padding: 1.4rem 0;
    }
}