/* HOME STYLES */

/* Section 1 */

 .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-white);
    
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('./assets/food.webp');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 80vh;
}

[data-page="home"] .section1-textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: clamp(0.8rem, 2vw, 1.8rem);
}
.section1-title {
    font-weight: 800;
}
[data-page="home"] .section1-subTitle {
    font-size: var(--font25);
}
[data-page="home"] .section1-button {
    color: inherit;
    font-size: var(--font15);
    border: 2px solid var(--main-white);
    border-radius: 1.6rem;
}
[data-page="home"] .section1-buttonBold {
    font-weight: 600;
}
[data-page="home"] .section1-button:hover {
    background-color: #cccccc18;
}
[data-page="home"] .section1-button:active {
    background-color: #cccccc36;
}

/* Section 2 */

[data-page="home"] .section2 {
    display: flex;
}

[data-page="home"] .section2-imageDiv {
    height: clamp(1px, 700px, 80vh);
}
[data-page="home"] .section2-image {
    width: clamp(0%, 40vw, 70rem);
    height: clamp(0%, 100%, 80vh);
    object-fit: cover;
    border-radius: 3%;
}

[data-page="home"] .section2-information {
    flex: 1;
    color: var(--main-black);
    text-align: left;
    margin-left: 3rem;
}

[data-page="home"] .section2__text-p {
    font-size: var(--font25);
    max-inline-size: 58ch;
    margin: clamp(1rem, 3vw, 2rem) 0;
}

[data-page="home"] .section2-advantagesDiv {
    display: flex;
    gap: clamp(2rem, 3vw, 6rem);
    margin: clamp(0.4rem, 2vw, 3.4rem) 0;
}
[data-page="home"] .advantageDiv {
    display: flex;
    flex-direction: column;
    gap: 0.4rem
}
[data-page="home"] .advantage-bold {
    font-size: var(--font30);
    font-weight: 600;
}
[data-page="home"] .advantage-regular {
    font-size: var(--text-basis-size);
}




/* Section 3 */

[data-page="home"] .section3 {
    text-align: center;
}

[data-page="home"] .section3-title {
    margin: clamp(1rem, 2vw, 2.8rem) 0;
}

[data-page="home"] .section3-dishesDiv {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.6rem;
    width: 100%;
}
[data-page="home"] .cardDiv {
    text-align: center;
}
[data-page="home"] .cardImage {
    object-fit: cover;
    height: 20vw;
    width: 100%;
    border-radius: 10px;
    margin-bottom: clamp(0.6rem, 1vw, 1.4rem)
}
[data-page="home"] .cardTitle {
    font-size: var(--text-basis-size);
}



/* Section 4 */

[data-page="home"] .section4 {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    box-shadow: 0 14px 16px -18px rgb(29, 29, 29);
}    


[data-page="home"] .section4-leftDiv {
    flex: 1;
    flex-grow: 10;
    display: flex;
    align-items: center;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./assets/hours-background.webp');
    background-size: cover;
    background-position: center;
    color: var(--main-white);
    padding: clamp(1rem, 4vw, 10rem) clamp(0.4rem, 5vw, 14rem);
    padding-right: 1rem;
}

[data-page="home"] .section4__leftDiv-titleDiv {
    margin-top: clamp(1rem, 1vw, 2rem);
    margin-bottom: clamp(1rem, 5vw, 4rem);
}

[data-page="home"] .section4__leftDiv-subContent {
    display: flex;
    align-items: center;
    gap: 2rem
}

[data-page="home"] .section4__leftDiv-contactUs {
    display: block;
    font-size: var(--text-basis-size);
    text-align: center;
    opacity: 0.8;
}
[data-page="home"] .section4__leftDiv-contactUs:hover { opacity: 1; }

[data-page="home"] .section4-rightDiv {
    flex: 1;
    flex-grow: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(1rem, 4vw, 10rem) 0;
}
[data-page="home"] .section4__rightDiv-hoursDiv {
    display: flex;
    flex-direction: column;
    gap: clamp(1.6rem, 2vw, 2.8rem);
}

[data-page="home"] .hoursDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(0.6rem, 1vw, 1.6rem);
    font-size: var(--text-basis-size)
}
[data-page="home"] .hours-title {
    font-weight: 300;
}
[data-page="home"] .hours-time {
    font-weight: 600;
}


/* Section5 */

[data-page="home"] .section5-offersDiv {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: clamp(2.4rem, 7vw, 10rem);
}
[data-page="home"] .offerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(0.4rem, 1vw, 2rem);
}
[data-page="home"] .offer-title {
    font-size: var(--font35);
    font-weight: 600;
}
[data-page="home"] .offer-text {
    font-size: var(--font15);
    font-weight: 300;
}

@media (max-width:1450px) {
    [data-page="home"] .section2__text-p { font-size: var(--text-basis-size); }
}
@media (max-width:1200px) {
    [data-page="home"] .section2-imageDiv { height: clamp(0%, 80vw, 60rem); }
    [data-page="home"] .section2-image { height: clamp(0%, 80vw, 60rem); }
}
@media (max-width: 768px) {
    [data-page="home"] .section1-button {
        border: 1px solid var(--main-white);
    }
    [data-page="home"] .section2-imageDiv, [data-page="home"] .section2-image {
        height: 0px;
        width: 0px;
    }

    [data-page="home"] .section2-information {
        margin: 0;
        text-align: center;
    }
    
    [data-page="home"] .section2__text-p {
        text-align: left;
        line-height: 1.2;
    }

    [data-page="home"] .section2-advantagesDiv {
        margin-top: clamp(1rem, 2vw, 3rem);
        justify-content: space-evenly;
        gap: 0;
    }
    [data-page="home"] .advantageDiv {
        width: clamp(3rem, 15vw, 8.6rem)
    }

    [data-page="home"] .section3-dishesDiv {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    [data-page="home"] .cardImage {
        width: 100%;
        height: 30vw;
    }
}
@media (max-width:550px) {

    .section2-advantagesDiv { margin-bottom: 0; }
    [data-page="home"] .section2-buttonDiv, [data-page="home"] .section2-button {
        height: 0px;
        width: 0px;
        visibility: hidden;
    }
    [data-page="home"] .section3-dishesDiv {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    [data-page="home"] .cardImage {
        border-radius: 20px;
        height: 40vw;
    }
    [data-page="home"] .section4-leftDiv { 
        flex-grow: 6;
    }
    [data-page="home"] .section4-rightDiv { flex-grow: 5; }
}