/* Menu styles */

/* Section1 */

[data-page="menu"] .section1 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("./assets/menu/menu-background.webp");
}


/* Section2 */


[data-page="menu"] .section2 {
    padding: clamp(3rem, 3vw, 6rem) clamp(2.2rem, 3vw, 7rem);
}

[data-page="menu"] .section2-contentDiv {
    display: grid;
    grid-template-areas: "images text";
    gap: clamp(1rem, 3vw, 5rem)
}

[data-page="menu"] .section2-imagesDiv {
    grid-area: images;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
[data-page="menu"] .section2-image {
    height: min-content;
    width: 48%;
    object-fit: cover;
    border-radius: 100%;
} 

[data-page="menu"] .section2-informationDiv {
    grid-area: text;
    flex: 1;
}

[data-page="menu"] .section2-titleDiv {
    text-align: center;
    margin-top: 0;
}

[data-page="menu"] .section2-textDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
[data-page="menu"] .section2-text { max-inline-size: 58ch; }


/* Section3 */


[data-page="menu"] .section3 {
    position: relative;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("./assets/menu/section3-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--main-white);
    padding: clamp(2rem, 4vw, 5rem) clamp(2.5rem, 4vw, 4rem) clamp(3rem, 10vw, 12rem);
    box-shadow: 0 -14px 12px -13px rgb(29, 29, 29);
}
[data-page="menu"] .section3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    z-index: 1;
}

[data-page="menu"] .section3-contentDiv {
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

[data-page="menu"] .section3-titleDiv { margin-top: 0; }

[data-page="menu"] .section3-title {
    position: relative;
}
[data-page="menu"] .section3-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: clamp(5px, 1vw, 10px);
    width: clamp(30px, 7vw, 80px);
    border-radius: 100px;
    background-color: var(--accentColor);
    transform: translate(-120%);
}
[data-page="menu"] .section3-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: clamp(5px, 1vw, 10px);
    width: clamp(30px, 7vw, 80px);
    border-radius: 100px;
    background-color: var(--accentColor);
    transform: translate(120%);   
}

[data-page="menu"] .section3-cardsDiv {
    display: flex;
    justify-content: space-evenly;
    width: clamp(0%, 100%, 130rem);
    margin-top: 0.8rem;
}

[data-page="menu"] .section3__card-image {
    width: clamp(0%, 23vw, 32rem);
    height: clamp(0%, 30vw, 42rem);
    object-fit: cover;
    border-radius: 6px;
}

[data-page="menu"] .section3__card-titleDiv { margin-top: clamp(0.4rem, 1vw, 1.6rem); }

[data-page="menu"] .section3__card-title {
    font-size: var(--font25);
}


/* Section4 */


[data-page="menu"] .section4 {
    text-align: center;
    padding: clamp(2rem, 6vw, 10rem) clamp(2.5rem, 5vw, 5rem);
}

[data-page="menu"] .section4-titleDiv { margin: 0; }


/* Section5 menu sections */


[data-page="menu"] .section-menu {
    padding: 0;
}

[data-page="menu"] .menu-head {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("./assets/menu/menu1-background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--main-white);
    padding: clamp(1rem, 3vw, 4rem) clamp(1.5rem, 3vw, 7rem);
}

[data-page="menu"] .menu-titleDiv {
    margin: 0;
    margin-top: 0.5rem;
}

[data-page="menu"] .menu-lotsDiv {
    display: flex;
    justify-content: space-evenly;
    gap: clamp(2rem, 3vw, 5rem);
    padding: clamp(1rem, 5vw, 6rem) clamp(1.5rem, 3vw, 7rem);
}

[data-page="menu"] .menu__lotsDiv-contentDiv {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: clamp(1rem, 4vw, 5rem);
}

[data-page="menu"] .menu-lotDiv {
    display: flex;
    gap: clamp(1rem, 2vw, 3rem);
}
[data-page="menu"] .lotDiv-image {
    width: clamp(80px, 15vw, 190px);
    height: clamp(80px, 15vw, 190px);;
    border-radius: 1000px;
    object-fit: cover;
}

[data-page="menu"] .lotDiv-informationDiv {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--text-basis-size);
    font-size: var(--font15);
}
[data-page="menu"] .lotDiv-separator {
    content: "";
    flex-grow: 2;
    height: 2px;
    margin: 0 clamp(2rem, 1.5vw, 3rem);
    background: repeating-linear-gradient(
      to right,
      #1a1a1aa2,
      #1a1a1aa2 2px,
      transparent 2px,
      transparent 4px
    );
}

/* Section6 menu sections */

[data-page="menu"] .menu__desserts-head {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/menu/menu2-background.webp");
}

@media (max-width:1200px) {
    [data-page="menu"] .section2-contentDiv {
        grid-template-areas: 
        "text"
        "images";
        gap: 3rem;
    }
    [data-page="menu"] .section2-imagesDiv { 
        justify-content: center;
        gap: clamp(1rem, 3vw, 3rem);
    }
    [data-page="menu"] .section2-image { width: 38%; }
    [data-page="menu"] .lotDiv-title { max-width: 10ch;}
}
@media (max-width:768px) {
    [data-page="menu"] .section2-image { width: 42%; }

}
@media (max-width:680px) {
    [data-page="menu"] .menu-lotsDiv { flex-direction: column}
}
@media (max-width:550px) {
    [data-page="menu"] .section2-contentDiv { gap: 1.6rem; }
    [data-page="menu"] .section2-image { width: 48% }
    [data-page="menu"] .section2-imagesDiv { justify-content: space-between; }
    [data-page="menu"] .section3-cardsDiv { justify-content: space-around; }
}